.bg-light-green {
    background-color: #e6ffe6;
  }

  .bg-light-red {
    background-color: #ffe6e6;
  }

  .fw-bold {
    font-weight: bold;
  }

  .bg-light-green {
    background-color: #e6ffe6;
  }

  .bg-light-red {
    background-color: #ffe6e6;
  }

  .fw-bold {
    font-weight: bold;
  }

  .pagination .page-link {
    cursor: pointer;
  }

  .pagination .page-item.disabled .page-link {
    cursor: not-allowed; 
  }